<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-employee' ? 'active' : '' %>" href="/admin/add-employee">Add Employee</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Food_Item
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/register' ? 'active' : '' %>" href="/register">Customer Registration
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/add-role' ? 'active' : '' %>" href="/admin/add-role">Add Role
                </a>
            <li class="main-header__item">
                <a class="<%= path === '/admin/complains' ? 'active' : '' %>" href="/admin/complains">Complains
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
            <li class="main-header__item">
                <% if(!isLoggedin){%><a class="<%= path === '/userSelect' ? 'active' : '' %>" href="/userSelect">Login</a><%}
                else{ %><a class="<%= path === '/logout' ? 'active' : '' %>" href="/logout">Logout</a><% } %>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-employee' ? 'active' : '' %>" href="/admin/add-employee">Add Employee</a>                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Food_Item
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/register' ? 'active' : '' %>" href="/register">Customer Registration
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-role' ? 'active' : '' %>" href="/admin/add-role">Add Role
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/complains' ? 'active' : '' %>" href="/admin/complains">Complains
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                    </a>
                </li>
            </ul>
</nav>