<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Ammachchi Canteen</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Food_Items</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/register' ? 'active' : '' %>" href="/register">Customer Registration
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/add-complain' ? 'active' : '' %>" href="/add-complain">Add Complain/Suggestion
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/collection' ? 'active' : '' %>" href="/admin/collection">Daily Collection
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin/settledown' ? 'active' : '' %>" href="/admin/settledown">Settle Down
                </a>
            </li>
            <li class="main-header__item">
                <% if(!isLoggedin){%><a class="<%= path === '/userSelect' ? 'active' : '' %>" href="/userSelect">Login</a><%}
                else{ %><a class="<%= path === '/logout' ? 'active' : '' %>" href="/logout">Logout</a><% } %>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Ammachchi Canteen</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Food_Items</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/register' ? 'active' : '' %>" href="/register">Customer Registration
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/add-complain' ? 'active' : '' %>" href="/add-complain">Add Complain/Suggestion
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/collection' ? 'active' : '' %>" href="/admin/collection">Daily Collection
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/settledown' ? 'active' : '' %>" href="/admin/settledown">Settle Down
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/userSelect' ? 'active' : '' %>" href="/userSelect">Login
                </a>
            </li>
            </ul>
</nav>