<%- include('includes/head.ejs') %>
</head>

<body>
     <% if( role==="Admin"){%> <%- include('includes/admin-navigation.ejs') %><% } 
         else if(role==="Cashier") { %>
            <%- include('includes/cashier-navigation.ejs') %>
            <% }  else if(role==="Customer") { %>
                <%- include('includes/customer-navigation.ejs') %>
                <% }else if(role==="Chef") { %>
                    <%- include('includes/chef-navigation.ejs') %>
                    <% }
                 else  { %>
                    <%- include('includes/navigation.ejs') %>
                    <% } %>

    <h1>Page Not Found!</h1>

<%- include('includes/end.ejs') %>