<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <% if( role==="Admin"){%> <%- include('../includes/admin-navigation.ejs') %><% } 
        else if(role==="Cashier") { %>
           <%- include('../includes/cashier-navigation.ejs') %>
           <% }  else if(role==="Customer") { %>
               <%- include('../includes/customer-navigation.ejs') %>
               <% }else if(role==="Chef") { %>
                   <%- include('../includes/chef-navigation.ejs') %>
                   <% }
                else  { %>
                   <%- include('../includes/navigation.ejs') %>
                   <% } %>
        <main class="centered">
            <h1><%= product.Name %></h1>
            <hr>
            <div>
                <img src="<%= product.Image %>" alt="<%= product.Name %>">
            </div>
            <h2><%= product.Price %></h2>
            <p><%= product.Discription %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>